{% extends 'base.html' %}

{% block title %}
    message
{% endblock title %}

{% block content %}

    <a href="/message/create">Message</a>

    {% for info in infos %}
        <table>
            <tr>
                <td>
                    <a href="/message/detail/{{ info.id }}/">Details Info</a>
                    Id: {{ info.id }}
                    Email: {{ info.email }}
                    Subject: {{ info.subject }}
                    Message: {{ info.message }}
                    <a href="/message/update/{{ info.id }}/">Edit</a>
                    <a href="/message/delete/{{ info.id }}/">Delete</a></td>
        </table>




    {% endfor %}

{% endblock content %}

