{% extends 'base.html' %}

{% block title %}
    message
{% endblock title %}

{% block content %}

    <a href="{%  url 'message-create' %}">Message</a>

    {% for contactus in object_list %}
        <table>
            <tr>
                <td>
                    <a href="{% url 'message-details' contactus.id %}">Details Info</a>
                    Id: {{ contactus.id }}
                    Name: {{ contactus.name }}
                    Email: {{ contactus.email }}
                    Subject: {{ contactus.subject }}
                    Message: {{ contactus.message }}
                    <a href="{% url 'message-update' contactus.id %}">Edit</a>
                    <a href="{% url 'message-delete' contactus.id %}">Delete</a></td>
        </table>




    {% endfor %}

{% endblock content %}

