{% extends 'base.html' %}

{% block title %}
    rate_list
{% endblock title %}

{% block content %}

    <a href="/rate/create">Create</a>

    {% for rate in rates %}
        <table>

            <tr>
                <td><a href="/rate/details/{{ rate.id }}">Details</a></td>
                <td>Id: {{ rate.id }}</td>
                <td>Buy: {{ rate.buy }}</td>
                <td>Sell: {{ rate.sell }}</td>
                <td>Created: {{ rate.created }}</td>
                <td>Type: {{ rate.change_type }}</td>
                <td>Source: {{ rate.source }}</td>
                <td><a href="/rate/update/{{ rate.id }}">Edit</a></td>
                <td><a href="/rate/delete/{{ rate.id }}">Delete</a></td>

        </table>
    {% endfor %}

{% endblock content %}
