{% extends 'base.html' %}

{% block title %}
    source_list
{% endblock title %}

{% block content %}

    <a href="{% url 'source-create' %}">Source</a>

    {% for source in object_list %}
        <table>

            <tr>
                <td><a href="{% url 'source-details' source.id %}">Details</a>
                Id: {{ source.id }}
                Source_url: {{ source.source_url }}
                Bank name: {{ source.source_name }}
                <a href="{% url 'source-update' source.id %}">Edit</a>
                <a href="{% url 'source-delete' source.id %}">Delete</a></td>

        </table>
    {% endfor %}

{% endblock content %}
