{% extends 'base.html' %}

{% block title %}
    source_list
{% endblock title %}

{% block content %}


    {% if request.user.is_authenticated %}

        <a href="{% url 'source-create' %}">Source</a>

    {% endif %}

    {% for source in object_list %}
        <table>

            <tr>
                <td>
                    Id: {{ source.id }}
                    Source_url: {{ source.source_url }}
                    Bank name: {{ source.source_name }}

                    {% if request.user.is_superuser %}
                        <a href="{% url 'source-update' source.id %}">Edit</a>
                        <a href="{% url 'source-delete' source.id %}">Delete</a>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'source-details' source.id %}">Details</a>
                    {% endif %}

                </td>
        </table>
    {% endfor %}

{% endblock content %}
